= bootstrap_form_for post, layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-6' do |f|
  = f.text_field :title, placeholder: 'Post Title', autofocus: true
  = f.text_field :permalink, placeholder: 'Post Permalink'
  = f.text_area :content, control_col: 'col-sm-8', rows: '10'
  = f.form_group do
    = f.primary t(:submit)
    = link_to t(:cancel), posts_path, class: 'btn btn-default'
